<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99390424651-pt1k78o19db68cj5j5g4prvhej6po50f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99390424651-pt1k78o19db68cj5j5g4prvhej6po50f</string>
	<key>API_KEY</key>
	<string>AIzaSyAsqOm-Pi-YPZM3Z7rgRzEeFpRxgaxoSRc</string>
	<key>GCM_SENDER_ID</key>
	<string>99390424651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edu.infix.infixedu</string>
	<key>PROJECT_ID</key>
	<string>infixedu-6950a</string>
	<key>STORAGE_BUCKET</key>
	<string>infixedu-6950a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99390424651:ios:3dee4acdb05551e9bb6fce</string>
	<key>DATABASE_URL</key>
	<string>https://infixedu-6950a.firebaseio.com</string>
</dict>
</plist>